
# PlanAhead Generated physical constraints 

NET "clk" LOC = "L15";
NET "rst" LOC = "T15";
NET "depp_astb" LOC = "B9";
NET "depp_dstb" LOC = "A9";
NET "depp_wait" LOC = "F13";
NET "depp_write" LOC = "C15";
NET "depp_db[0]" LOC = "A2";
NET "depp_db[1]" LOC = "D6";
NET "depp_db[2]" LOC = "C6";
NET "depp_db[3]" LOC = "B3";
NET "depp_db[4]" LOC = "A3";
NET "depp_db[5]" LOC = "B4";
NET "depp_db[6]" LOC = "A4";
NET "depp_db[7]" LOC = "C5";
NET "led[0]" LOC = "U18";
NET "led[1]" LOC = "M14";
NET "led[2]" LOC = "N14";
NET "led[3]" LOC = "L14";
NET "led[4]" LOC = "M13";
NET "led[5]" LOC = "D4";
NET "led[6]" LOC = "P16";
NET "led[7]" LOC = "N12";

